<h1><%= @bathroom.name %></h1>
<div class="rating">
  <input name="star1" value="1" type="radio" class="star" />
  <input name="star1" value="2" type="radio" class="star" />
  <input name="star1" value="3" type="radio" class="star" />
  <input name="star1" value="4" type="radio" class="star" />
  <input name="star1" value="5" type="radio" class="star" />
</div>
<p><%= @bathroom.scores.count %> ratings </p>