<div id='connect'>
	<!-- ><div id='logo'>
    <img src='assets/logo.png'/>
  </div> -->
  <div id='info'>
    <h1>Potty</h1>
    <h3>Find and rate bathrooms around you when you checkin.</h3> 
  </div>
  <a href='clients/foursquare/new'><img src='assets/connect-blue.png'/></a>
</div>